*
{
    box-sizing: border-box;
  }
  
  body
  {
    background-color: whitesmoke;
    margin: 0;
  }
  
  .section
  {
    background-color: lightyellow;
    width: 100%;
    max-width: 500px;
    min-height: 300px;
    padding: 1rem;
    margin: auto;
    text-align: center;
    border: 4px solid blue;
  }
  
  h1
  {
    color: blue;
    font-size: 1.4rem;
    font-weight: bolder;
    font-family: cursive;
  }
  
  .label
  {
    font-size: 1.6rem;
    color: red;
    font-weight: bold;
    padding: 1.5rem 1rem 0.5rem;
  }
  
  input
  {
    width: 100%;
    padding: 1rem;
    text-align:center;
    font-weight: bolder;
    color:blue;
    font-size:28px;
    height: 50px;
    display: block;
    border: 3px solid red;
    border-radius: 7px;
  }

  button
  {
    padding: 0.5rem 1rem;
    display: block;
    font-size: 1rem;
    margin: 1rem auto 0;
    font-weight: bold;
    border-radius: 50px;
  }
  
  .errorMessage
  {
    padding: 1rem;
    color: red;
    font-size: 1.7rem;
    
  }
  
  #output
  {
    margin: 1rem 0;
  }
  
  #output table, th, td
  {
    padding: 0.2rem;
    color: blue;
    background-color: whitesmoke;
    border: 2px solid red;
    border-collapse: collapse;
  }
  
  .numberOfNotes
  {
    background-color: whitesmoke;
    color: darkblue;
    font-weight: bolder;
    font-size: 20px;
  }
  
  table
  {
    width: 100%;
    table-layout: fixed;
    
  }
  
  th, td
  {
    word-wrap: break-word;
  }